.rotate {
    display: block;
    /* margin: 50px auto; */
    /* width: 100px; /* Adjust the width as needed */
    /* height: 5px; Adjust the height as needed */ 
    background-image: url('../../assets/Logo/Logo-Small-Dark.png');
    background-size: cover;
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
